
<h1>Hello, <%= @user.username %></h1>
<p> You have a new message in a bottle </p>
<p> <%=@post.body[0...10] %> </p>
<p> Want to see more? <a href= <%=@url%>>Sign in</a> and write your next post! </p>