/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  font-family: helvetica;
}
body{
  margin: 0;
  background-color: #e6f0ff;
  max-height: 99vh;
  overflow-x: hidden;
}

.nav {
  padding-left: 9vw;
  border: 1px solid black;
  height: 10vh;
  line-height: 10vh;
  background-color: #6fa3ee;
  box-shadow: 2px 2px 4px #888888;
  opacity: .85;
}

a:hover{
  color: #fffdfd;
}

input{
  font-size: 20px;
}

.nav a{
  padding: 2%;
  font-size: 1.6em;
  text-decoration: none;
  color: white;
  &:hover{
    color: black;
  }
}

li{
  margin-top: 3%;
}

ul{
  list-style-type: none;
}
