/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  font-family: helvetica;
}
body{
  margin: 0;
  background-color: #fdfdfd;
}
.nav {
  border: 1px solid #c5a2a2;
  height: 10vh;
  line-height: 10vh;
<<<<<<< 37e9c1140aee3d662c8b684b5d13dab39e6ffd07
  background-color: #ff6d6d;
  box-shadow: 2px 2px 4px #888888;
  opacity: .75;
}

footer {
  border: 1px solid #c5a2a2;
  height: 4vh;
  line-height: 4vh;
  background-color: #ff6d6d;
  box-shadow: 1px 1px 2px #888888;
  opacity: .75;
=======
  background-color: white;
  opacity: .6;
>>>>>>> fixed home page shit and roots
}
.nav a{
  padding: 2%;
  font-size: 24px;
  text-decoration: none;
  color: black;
}
a:hover{
  color: #fffdfd;
}
.user-form{
  margin: auto;
  margin-top: 15%;
  background-color: white;
  font-size: 20px;
  height: 9%;
  width: 20%;
  line-height: 30px;
  display: block;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 5%;
  opacity: .75;
}

input{
  font-size: 20px;
}

.field{
  margin: 1%;
}

.actions {
  font-size: 28px;
  width: 5%;
  padding-right: 16%;
  padding-top: 1%;
  line-height: 20px;
  display: block;
  margin: auto;
  text-align: left

}

.sign-up {
  font-size: 30px;
  width: 100%;
  line-height: 10px;
  display: block;
  text-align: center;
  margin-bottom: 5%;

}


.user-entries{
  background-color: #E4F1FE;
  opacity: .6;
  top: 15vh;
  position: absolute;
  padding: 1%;
  border-radius: 5%;
  left: 15%;
  background-color: white;
  box-shadow: 2px 2px 4px #888888;
  border-radius: 5px;
  width: 9vw;
  font-size: 18px;
  width: 38vw;
  max-height: 80vh;
  margin-right: 2%;
  padding-left: 2%;
  opacity: .9;
  border: 2px solid #c5a2a2;
  overflow-y: scroll;
  & a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  & input[type='submit']{


  font-size: 12px;

  }
}
.entry-span{
  display: block;
  word-wrap: normal;
}
.bottle-entries{
  top: 100%;
  position: absolute;
  background-color: #ffd4d4;
  box-shadow: 2px 2px 4px #888888;
  right: 0%;
  border-left: 1px solid #c5a2a2;
  font-size: 18px;
  width: 10vw;
  overflow-y: scroll;
  height: 100vh;
  border: 1px solid black;
  & a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  & input[type='submit']{

  width: 7vw;
  font-size: 12px;
  border-radius: 5px;
  }
}

textarea{
  width: 30vw;
  height: 5vh;
  font-size: 18px;
}

.post-textarea{
  width: 30vw;
  height: 30vh;
  font-size: 18px;
}
#bottle-button, #respond-button{
  font-size: 14px;
  display: inline-block;
  padding-right: 7%;
  height: 8vh;
  margin-bottom: 2%;
  background-color: transparent;

}
.respond-button,
.delete-button,
.question-button {
  display: inline-block;
  & input[type='submit']{
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
  }
}
.respond-button{
  & input[type='submit']{
    background-image: image-url("add.png");
  }
}
.delete-button{
  & input[type='submit']{
    background-image: image-url("garbage.png");
    filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg);
  }
}

#respond-button{

}
#bot-but{
  background-image: image-url("bottle.png");
  background-size:  80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
}

li{
  margin: 3%;
}
#video-background {
/*  making the video fullscreen  */
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: initial;
  height: auto;
  z-index: -1000;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
  opacity: 1;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.entry-private-span{
  border: solid;
  border: green;
  background-color: red;
}

.entry-bottle-span{
  border: solid;
  border: green;
  background-color: blue;
}

.entry-stream-span{
  border: solid;
  border: green;
  background-color: green;
}

.post-long-enough {
  border: 4px solid green;
}

.streams{
    position: absolute;
    bottom: -878%;
    float: right;
    width: 100%;
}

.mail-read {
  color: red;
}

.mail-unread {
  color: green;
}

#user-greeting {
  float: right;
}
