.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    display: inline-block;
    animation: marquee 40s linear infinite;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

li{
      list-style-type: none;
}



.private,
.stream,
.public,
.bottle-entry {
    background-color: white;
    list-style-type: none;
    border: 1px solid gray;
    width: 90%;
    text-align: center;
    box-shadow: 2px 2px 4px #888888;
    border-radius: 6px;
  }


.bottle-entry{
  background-color: white;
}

li.private:before{
    float: right;
    content: "• ";
    color: green;
    font-size: 39px;
}
li.stream:before{
    float: right;
    content: "• ";
    color: blue;
    font-size: 39px;
}
li.public:before{
    float: right;
    content: "• ";
    color: red;
    font-size: 39px;
  }

/*
.entry-bottle-span{
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    float: left;
}
*/


.post-long-enough {
  outline: none;
  border: 4px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
}

.stream-big,
.stream-small {
    position: absolute;
    bottom: 0%;
    float: right;
    width: 100%;
    transition: height .2s ease-out;
}
.stream-small {
  height: 0px;
}

#delete-form{
  font-size: 30px;
}
.plus-minus-button{

}

.bottle-show{
  position: absolute;
  top: 83.6%;
  right: 10.1%;
  z-index: 1;
}

.mail-read {
  font-size: 30px;
  color: red;
}

.mail-unread {
  font-size: 30px;
  color: green;
  font-size: 30px;
}

.logo{
  margin-top: 0.3%;
  height: 90%;
  width: auto;
  float: right;
}

/*#user-greeting {
  float: right;
}*/

#show-stream-on-button,
#show-stream-off-button {
  background-image: url("transparent.png");
  background:rgba(0,0,0,0.01);
  font-size: 1.5em;
  position: absolute;
  padding: 0%;
  bottom: 4.7%;
  outline: none;
  z-index: 1;
  transition: bottom .2s ease-out;
  margin: 0%;
  border: none;
  height: 3vh;
  text-shadow: 1px 1px 2px #888888;
}

#show-stream-on-button {
  bottom: 0%;

}


.bottle-entries-big-button,
.bottle-entries-small-button {
  background-image: url("transparent.png");
  background:rgba(0,0,0,0.01);
  font-size: 1.5em;
  border: none;
  position: fixed;
  outline: none;
  padding: 0%;
  top: 11%;
  right: 25%;
  transition: right .6s ease-out;
  margin: 0%;
  height: 3vh;
  text-shadow: 1px 1px 2px #888888;
}

.bottle-entries-small-button {
  right: 10%;

}

#stream-button:hover {
  color: blue;
}

#show-stream-on {
  bottom: 5%;
}

#show-stream-off {
  bottom: 0%;
}

#new-bottles {
 border-bottom: 2px solid black;
 text-align: center;
}

#your-bottles {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}

.anon-response {
  border: 1px solid gray;
  list-style-type: none;
  text-align: right;
  background-color: #e5f9ff;
  box-shadow: 1px 1px 2px #888888;
  border-radius: 5px;
  padding: 5px;
}

.user-response {
  border: 1px solid gray;
  list-style-type: none;
  text-align: left;
  background-color: #e5f9ff;
  box-shadow: 1px 1px 2px white;
  border-radius: 5px;
  padding: 5px;
}


.teaser{
  -webkit-filter: blur(3.0px);
  font-family: "Courier New", Courier, monospace;
}

.teaser-font{
  font-family: "Courier New", Courier, monospace;
}

.hide-responses-button {
  border: none;
  background-color: white;
  text-shadow: 1px 1px 2px #888888;
  padding-left: 76%;
  font-size: 16px;
  outline: none;
}
.entry-post-button {
  border: 1px solid gray;
  height: 5vh;
  border-radius: 5px;
  background-color: white;
  width: 40vw;
  box-shadow: 2px 2px 4px #888888;
}
.entry-post-button:hover {
  color: white;
  background-color: #0066ff;
  box-shadow: 2px 2px 8px #0066ff;
}
.plus-minus-button {
  font-size: 30px;
  color: black;
  outline: none;
  text-decoration: none;
}
footer {
  border: 1px solid #66a3ff;
  color: white;
  height: 4vh;
  line-height: 4vh;
  box-shadow: 1px 1px 2px #888888;
  opacity: .75;
  background: #ff6d6d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,#66a3ff, #005ce6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #66a3ff, #005ce6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #66a3ff, #005ce6);
  background: linear-gradient(#66a3ff, #005ce6);
}

.user-entries {
  background-color: #FEFDFB;
  opacity: .6;
  top: 12vh;
  position: absolute;
  padding: 1%;
  border-radius: 5%;
  left: 8.5%;
  box-shadow: 2px 2px 4px #888888;
  border-radius: 3%;
  font-size: 18px;
  width: 50vw;
  max-height: 80vh;
  margin-right: 2%;
  padding-left: 2%;
  opacity: 1;
  border: 2px solid #e3e8cf;
  overflow-y:  scroll;
  & a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  & input[type='submit']{
  font-size: 22px;
  }
}



.bottle-entries-small,
.bottle-entries-big {
  top: 10.2%;
  position: absolute;
  background-color: #FEFBF7;
  transition: right .6s ease-out;
  box-shadow: 2px 2px 4px #888888;
  right: 0%;
  border-left: 1px solid gray;
  font-size: 18px;
  width: 30vw;
  overflow-y: scroll;
  height: 87vh;
  border: 1px solid black;
  opacity: 1;
  padding-left: 1%;
  padding-right: 1%;
  & a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  & input[type='submit']{

  width: 7vw;
  font-size: 12px;
  border-radius: 5px;
  }
}

.bottle-entries-small {
  right: -25vh;
}


textarea,
#bottle-respond-box {
  width: 40vw;
  font-size: 18px;
  height: 3em;
  transition: height .6s ease-out;
  border: 1px solid gray;
  outline: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888888;
  margin: auto;
}

#bottle-respond-box {
  width: 20vw;
}
.post-textarea{
  width: 40vw;
  height: 20vh;
  font-size: 18px;
  border: 3px solid #00ff00;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #00ff00;
}

#bottle-button, #respond-button, #stream-checkbox, .stream-link{
  font-size: 14px;
  padding-right: 7%;
  padding-bottom: 10%;
  margin-right: 8%;
  margin-bottom: 5%;
  /*background-color: transparent;*/
}

#bottle-button:hover {

}

#respond-button:hover {

}

#stream-checkbox:hover {

}
.stream-link:hover {

}

.bottle-button-yes{
  background: image-url('sprite-bottles.png') -250% 0;
  background-size: 90%;
  background-repeat: no-repeat;
}
.bottle-button-no{
  background: image-url('sprite-bottles.png') 350% 0;
  background-size: 90%;
  background-repeat: no-repeat;
}

.respond-button-yes{
  background: image-url('sprite-responses.png') 150% 0;
  background-size: 150%;
  background-repeat: no-repeat;
}
.respond-button-no{
  background: image-url('sprite-responses.png') -30% 0;
  background-size: 150%;
  background-repeat: no-repeat;
}
.stream-button-yes{
  background: image-url('sprite-streams.png') 150% 0;
  background-size: 150%;
  background-repeat: no-repeat;
}
.stream-button-no{
  background: image-url('sprite-streams.png') -30% 0;
  background-size: 150%;
  background-repeat: no-repeat;
}

.respond-button,
.delete-button,
.question-button {
  display: inline-block;
  & input[type='submit']{
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    font-size: 30px;
    background-color: transparent;
  }
}

.respond-button{
  & input[type='submit']{
    background-image: image-url("add.png");
  }
}

.delete-button{
  & input[type='submit']{
    background-image: image-url("garbage.png");
    filter: hue-rotate(180deg);
      -webkit-filter: hue-rotate(180deg);
  }
}

.entry-responses-false{

}
.entry-responses-true{
  transition: height 1.4s ease-out;
}
#delete-button {
  font-size: 30px;
}
.entry-span{
  display: block;
  word-wrap: normal;
}
#prompt{
  font-family: 'Cantarell', sans-serif;
}
