.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    display: inline-block;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.stream-big,
.stream-small {
    position: absolute;
    font-size: 1.5em;
    bottom: 0%;
    float: right;
    width: 100%;
    transition: height .2s ease-out;
}
.stream-small {
  height: 0px;
}

#delete-form{
  font-size: 30px;
}

.logo{
  margin-top: .8%;
  height: 70%;
  width: auto;
  float: right;
}

#show-stream-on-button,
#show-stream-off-button {
  background-image: url("transparent.png");
  background:rgba(0,0,0,0.01);
  font-size: 1.5em;
  position: absolute;
  padding: 0%;
  bottom: 4.7%;
  outline: none;
  z-index: 1;
  transition: bottom .2s ease-out;
  margin: 0%;
  border: none;
  height: 3vh;
  text-shadow: 1px 1px 2px #888888;
  cursor: pointer;
}

#show-stream-on-button {
  bottom: 0%;
}

#stream-button:hover {
  color: blue;
}

#show-stream-on {
  bottom: 5%;
}

#show-stream-off {
  bottom: 0%;
}

.anon-response {
  border: 1px solid gray;
  list-style-type: none;
  text-align: right;
  background-color: #e5f9ff;
  box-shadow: 1px 1px 2px #888888;
  border-radius: 5px;
  padding: 5px;
}

.user-response {
  border: 1px solid gray;
  list-style-type: none;
  text-align: left;
  background-color: #e5f9ff;
  box-shadow: 1px 1px 2px white;
  border-radius: 5px;
  padding: 5px;
}

.hide-responses-button {
  border: none;
  background-color: white;
  text-shadow: 1px 1px 2px #888888;
  padding-left: 76%;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

footer {
  border: 1px solid #66a3ff;
  color: white;
  height: 5vh;
  line-height: 5vh;
  box-shadow: 1px 1px 2px #888888;
  opacity: .85;
  background: #ff6d6d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top,#66a3ff, #005ce6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #66a3ff, #005ce6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #66a3ff, #005ce6);
  background: linear-gradient(#66a3ff, #005ce6);
}

.user-header,
#new-bottles,
#your-bottles {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  letter-spacing: 1.7px;
}

#reply-desire {
  outline: none;
}

