// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-form{
  margin: auto;
  margin-top: 15%;
  background-color: white;
  font-size: 20px;
  height: 9%;
  width: 23%;
  line-height: 30px;
  display: block;
  text-align: center;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 5%;
  opacity: .75;
  & a{
    font-size: 16px;
  }
}

.actions {
  font-size: 28px;
  width: 100%;
  padding-right: 16%;
  padding-top: 1%;
  line-height: 20px;
  display: block;
  margin: auto;
  text-align: center;
  & input{
    background-color: white;
    -webkit-appearance: button;
    border-radius: 10%;
    font-size: 18px;
  }
}

#video-background {
/*  making the video fullscreen  */
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: initial;
  height: auto;
  z-index: -1000;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
  opacity: 1;
}
.field{
  margin: 1%;
}

.sign-up {
  font-size: 30px;
  width: 100%;
  line-height: 28px;
  display: block;
  text-align: center;
  margin-bottom: 5%;
}
#flash{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: red;
}